body{
    background-image: url(images/tile-background.jpg);
    background-repeat: repeat;
    background-position: 50%, 50%;
    
}

.wrapper{
    width: 900px;
    margin: auto;
    font-size: 40px;
}

.inner{
    background-color: rgba(255, 255, 255, 80%);
    padding: 50px;
}

ul {
    list-style-image: url(images/bullet.png);
}