h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000000;
    margin: 0;
}

.redBG{
    background-color: #ff0000;
}
.orangeBG{
    background-color: #ffa500;
}

.yellowBG{
    background-color: #ffff00;
}
.greenBG{
    background-color: #00ff00;
}
.blueBG{
    background-color: #0000ff;
}
.indigoBG{
    background-color: #4b0082;
}
.violetBG{
    background-color: #ee82ee;
}