body{
    margin: 0;
}
header{
    margin: auto;
    padding: 10px;
    background-color: #585858;
    text-align: center;
}
nav{
    margin: auto;
    padding: 10px;
}
section{
    margin: auto;
    padding: 10px;
}
footer{
    margin: auto;
    padding: 10px;
}
.purpleText{
    color: #70006b;
}
span{
    font-weight: bold;
}
.blueText{
    color: #0000ff;
}