:root {
    --main-bg-color: #373953;
    --main-text-color: #f4f1de;
    --main-text-color-alt: #8c8a90;
    --main-hyperlink-color: #e07a5f;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("img/mountains.png");
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--main-text-color);
}

div {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 1.2em;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*gap: 10px;*/
}

h1 {
    margin: 0;
    font-size: 3em;
    /*background-color: cornflowerblue;*/
}

h2 {
    margin: 0;
    /*font-size: 1.5em;*/
    /*background-color: cornflowerblue;*/
}

.content {
    margin: 30px;
    color: var(--main-text-color-alt);
    /*background-color: cornflowerblue;*/
}

.links-container {

    display: flex;

    justify-content: center;
    gap: 15px;
}

a {
    color: var(--main-hyperlink-color);
    /*background-color: cornflowerblue;*/

}