.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.section{
    position: relative;
    height: 100vh;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.parallax::after{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
}

.l1::after{
    background-image: url("../images/parallax.svg");
}